# Genel
node_modules/
.env
.DS_Store

# React
frontend/build/
frontend/node_modules/

# React Native
mobile/node_modules/
mobile/android/app/build/
mobile/ios/Pods/

# .NET
backend/**/*.vs/
backend/**/*.user
backend/**/*.suo
backend/**/bin/
backend/**/obj/
backend/**/*.db
